* {
	font-family: "Vazir";
}

html,
body {
	padding: 0;
	margin: 0;
}

#nprogress {
	z-index: 2000000;
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	color: teal !important;
}

#nprogress .bar {
	background: teal !important;
}

#nprogress .spinner-icon {
	border-top-color: teal !important;
	border-left-color: teal !important;
}
